<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.quartz.mapper.SerialInventoryMapper">
    <resultMap type="com.neuedu.quartz.domain.SerialInventory" id="SerialInventoryResult">
        <id     property="id"       column="id"      />
        <result property="warehouse"        column="warehouse"        />
        <result property="serialName"       column="serial_name"       />
        <result property="serialModel"   column="serial_model"   />
        <result property="serialSpec"     column="serial_spec"     />
        <result property="serialUnit"         column="serial_unit"          />
        <result property="serialPrice"  column="serial_price"  />
        <result property="inventoryAll"     column="inventory_all"     />
        <result property="inventoryLock"     column="inventory_lock"     />
        <result property="inventoryMax"     column="inventory_max"     />
        <result property="inventoryMin"     column="inventory_min"     />
    </resultMap>


    <select id="selectAll"  resultType="com.neuedu.quartz.domain.SerialInventory">
       select *  from serial_inventory_list_info
    </select>

</mapper>
